@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="mt-4"> All Roles</h1>
<br />
<br />

<a asp-controller="Role" asp-action="Create" class="btn " style=" background-color: #0c0b0c3b; "> Add New Role </a>
<br />
<br />


@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-primary">
        @TempData["Message"]
    </div>
}
<br />
@if (Model.Count() > 0)
{
    <div class=" row justify-content-center align-items-center mt-2">

        <form asp-action="Index" class="row col-8 offset-1">
            <div class="col-8">
                <input type="text" class="form-control" id="name" name="name" placeholder="Search By Name" />
            </div>
            <div class="col-4">
                <input type="submit" value="Search" class="btn btn-success " />
            </div>

        </form>
    </div>

    <table class="table table-hover mt-3" style="margin-left: -100px;">
        <thead>
            <tr>
                @*                <th scope="col">@Html.DisplayNameFor(U=>U.Id)</th>*@
                <th scope="col">@Html.DisplayNameFor(R => R.Id)</th>
                <th scope="col">@Html.DisplayNameFor(R => R.RoleName)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var Role in Model)
            {
                <tr>
                    <td>@Role.Id</td>
                    <td>@Role.RoleName</td>
                    <partial name="_ButtonsPartial" model="Role.Id" />
                </tr>
            }

        </tbody>
    </table>

}
else
{
    <div class="mt-4 alert alert-warning">
        <h2>There Is No Roles :(</h2>
    </div>
}




